Package: rtwrapper
Version: 2.5
Architecture: i386
Maintainer: APT Development Team <deity@lists.debian.org>
Installed-Size: 1300
Priority: optional
Description: Simple wrapper for ioctl which puts all created routes to 128 routing table
